.Mon_Titre{
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 700px;
    margin-right: 700px;
    border-width: 5px;

}

.Mon_Paragraphe{
    text-align: center;
}

.Mon_Image-Container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Mon_Image {
    max-width: 900px;
    height: 600px;
}