/* Centrer toute la page avec Flexbox */
body {
    display: flex;
    justify-content: center;  /* Centrage horizontal */
    align-items: center;  /* Centrage vertical */
    height: 800px; 
    margin: 0;
    background-color: #f8f9fa; /* Couleur de fond douce */
}

/* Style du compteur */
#compteur-container {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    background: gray;
    color: white;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

